.DS_Store
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__

# temp
comp5424/

comp5322/hw2/Assignment2.docx
comp5434/assignment/assignment_2/assig**[.docx,.pdf]
comp5434/lecture
comp5434/project/v1/
comp5511/comp5511-project
comp5511/assignment/Assig**[.docx,.pdf]
comp5541/assignment_1/comp5541_*[.zip,.pdf]
comp5541/assignment_2/comp5541_*[.zip,.pdf, .docx]
comp5541/exam/ref/