.DS_Store
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__

# temp
comp5517/
comp5241/

comp5424/


comp5311/assignment/*[.pdf, .zip]
!comp5311/assignment/*.md
comp5311/project/*
!comp5311/project/*.md
!comp5311/project/src/


comp5523/assignment/*.pdf


comp5322/hw2/Assignment2.docx
comp5424/assignment/assignment1/*.docx
comp5424/assignment/assignment1/*.pdf
comp5424/assignment/assignment2/**
comp5434/assignment/assignment_2/assig**[.docx,.pdf]
comp5434/lecture
comp5434/project/v1/
comp5511/comp5511-project
comp5511/assignment/Assig**[.docx,.pdf]
comp5541/assignment_1/comp5541_*[.zip,.pdf]
comp5541/assignment_2/comp5541_*[.zip,.pdf, .docx]
comp5541/exam/ref/